<jnlp
	spec="$jnlpspec"
	codebase="$$context"
	href="$$name">
	<information>
		<title>Sample2</title>
		<vendor>jowidgets.org</vendor>
	</information>
	<security>
		<all-permissions />
	</security>
	<resources>
    	<j2se version="1.6+" java-vm-args="-esa -Xmx1024m -XX:MaxPermSize=128m"/>
		$dependencies
		<property name="server.url" value="$$context/remoting" />
	</resources>
	<application-desc main-class="$mainClass" />
</jnlp>
